#funnel(class='funnel')
link(rel='stylesheet', href='/stylesheets/funnel.css')
script(type="text/javascript", src="/javascripts/funnel.js")
script(type="text/javascript")
    new Funnel("funnel", {
      "data": [
          { label: "search", colour: "#AAAAFF", value: 10000 },
          { label: "views",  colour: "#8888FF", value: 100 },
          { label: "leads",  colour: "#4444FF", value: 1 }
      ],
      "title": "Time Line",
      "scale": function(d, i) {
        return ln(d)
      }
    });


