!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="/vendor/d3/d3-2.8.0.js")
    script(type="text/javascript", src="/vendor/jquery/jquery-1.7.1.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
  body!= body
