body {
    font-family: helvetica;
    font-size: 10;
}

svg {
    border-style: dotted;
    border-width: 1;
    border-color: #444;
}

.outline {
    fill: lightsteelblue;
    stroke: steelblue;
    stroke-width: 1px;
    fill-opacity: 0.2;
}

.label {
    font-size: 0.7em;
}

.funnel {
    width: 500px;
    height: 400px;
}

